:root {
  /* Primary */

  --moderateViolet: hsl(263, 55%, 52%);
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --veryDarkBlackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral */

  --lightGray: hsl(0, 0%, 81%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}
body {
  display: flex;
  place-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 1.3rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--LightGrayishBlue);
}
ul {
  list-style: none;
}
.attribution {
  transform: translateY(8vh);
}

.container {
  display: grid;
  grid-template: 52% 48% / repeat(4, 1fr);
  grid-template-areas:
    'card-1 card-1 card-2 card-5'
    'card-3 card-4 card-4 card-5';
  gap: 2.4rem 3rem;
  width: 77vw;
  height: 61vh;
  align-self: center;
}

/* ----------------------- */
/* Card */
.card {
  border-radius: 0.8rem;
  padding: 1rem 3.2rem 5rem 3.2rem;
  height: 100%;
}
header {
  display: flex;
  margin-bottom: -0.2rem;
  transform: translateX(-2rem);
}
header img {
  border-radius: 50%;
  transform: scale(0.47);
}
.customer {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.customer__name {
  color: var(--lightGray);
  font-weight: 500;
}
.customer__subtitle {
  color: var(--lightGray);
  opacity: 50%;
  font-size: 1.1rem;
}
.testimonial__header {
  color: var(--white);
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
  position: relative;
}
.testimonial__quote {
  color: var(--lightGray);
  opacity: 70%;
}
.quotation-mark {
  font-family: sans-serif;
  color: rgb(222, 176, 236);
  font-size: 40rem;
  position: absolute;
  width: 100%;
  transform: translate(65%, -19.1%);
  opacity: 42%;
  z-index: -1;
}

.card-1 {
  grid-area: card-1;
  background-color: var(--moderateViolet);
  overflow: hidden;
}
.card-1 img {
  border: 3.5px solid rgb(157, 117, 190);
}
.card-2 {
  grid-area: card-2;
  background-color: var(--veryDarkGrayishBlue);
}
.card-3 {
  grid-area: card-3;
  background-color: var(--white);
  box-shadow: 0px 12px 35px 6px rgba(0, 0, 0, 0.12);
}
.card-4 {
  grid-area: card-4;
  background-color: var(--veryDarkBlackishBlue);
}
.card-4 .testimonial__header {
  color: var(--lightGray);
}
.card-3 .testimonial__header,
.card-5 .testimonial__header {
  color: var(--veryDarkGrayishBlue);
}
.card-3 .testimonial__quote,
.card-5 .testimonial__quote {
  color: var(--veryDarkGrayishBlue);
  opacity: 60%;
}
.card-3 .customer__name,
.card-5 .customer__name {
  color: var(--veryDarkGrayishBlue);
}
.card-3 .customer__subtitle,
.card-5 .customer__subtitle {
  color: var(--veryDarkGrayishBlue);
  opacity: 50%;
}

.card-4 img {
  border: 3.5px solid var(--moderateViolet);
}
.card-5 {
  grid-area: card-5;
  background-color: var(--white);
  box-shadow: 25px 20px 39px 6px rgba(0, 0, 0, 0.1);
}
